node_modules
.DS_Store

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

###Intellij
.idea

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### Build files
dist/

### Documentation
docs/
/Demo/.cert/
