* {
	box-sizing: border-box;
}

body {
	background: #000;
	padding : 0;
	margin: 0;
	overflow: hidden;
}

#dmd {
	position: absolute;
	top : 0;
	left: 0;
	font-family: Arial;
}

#dialog-box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 99999;
	font-size: 2em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 5px 5px 15px -2px #000000;
}

.dlg-error {
	display: block !important;
	background-color: red ;
}

.dlg-info {
	display: block !important;
	background-color:dodgerblue;
}

.dlg-success {
	display: block !important;
	background-color:lightgreen;
}

@font-face {
    font-family: 'Dusty';
    src: local('Dusty'), url('/fonts/Dusty.otf') format('truetype');
	font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'Superfly';
	src: url('/fonts/SUPERFLY.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}